.st-emotion-cache-9ycgxx {
    display: none;
}

.st-emotion-cache-1v7f65g .e1b2p2ww15 {
    align-items: center;
    padding-top: 0px;
    background: bottom;
}

.st-emotion-cache-1aehpvj {
    display: none;
}

.st-emotion-cache-dvne4q {
    padding: 1rem 1.5rem;
}
